.repositoryCard {
    min-width: 420px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: #4A5567;
    padding: 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, #111729, #1D1B48);
    cursor: pointer;
}

.repoTitle {
    font-size: 1.25rem;
    color: #CDD5E0;
}

.repoDescription {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.repoData {
    display: flex;
    align-items: end;
}

.repoData div {
    display: flex;
    margin-right: 0.8rem;
}

.repoData div img {
    margin-right: 0.2rem;
}

.repoData > p {
    font-size: 0.75rem;
    margin-left: 1rem;
}