.repositoryCard {
    min-width: 410px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, #111729, #1D1B48);
}

.repoTitle {
    font-size: 1.25rem;
}

.repoDescription {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.repoData {
    display: flex;
    align-items: end;
}

.repoData div {
    display: flex;
    margin-right: 0.8rem;
}

.repoData div img {
    margin-right: 0.2rem;
}

.repoData > p {
    font-size: 0.75rem;
    margin-left: 1rem;
}