#repositories {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    gap: 2rem 1.5rem;
    align-items: top;
}

.goTo {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 3rem;
    color: #4A5567;
    transition: transform 0.3s ease;
}

.goTo:hover {
    transform: scale(1.06);
    cursor: pointer;
}