#profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profileInfo {
    width: 100%;
    display: flex;
    align-items: end;
}

.profileImg {
    width: 8rem;
    height: 8rem;
    margin-top: -2.4rem;
    margin-right: 2rem;
    padding: 0.4rem;
    background-color: #20293A;
    border-radius: 0.8rem;
}

.profileImg img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.profileData {
    display: flex;
}

@media (max-width: 834px) {
    .profileInfo {
        align-items: start;
    }

    .profileData {
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
    }
}

.user {
    text-align: start;
    margin-top: 1rem;
}

.userName {
    font-size: 2rem;
}

.userDescription {
    font-size: 1.25rem;
    color: #4A5567;
}