#profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profileInfo {
    width: 100%;
    display: flex;
    align-items: end;
}

.profileImg {
    width: 7.5rem;
    height: 6.5rem;
    margin-top: -2.4rem;
    margin-right: 2rem;
    padding: 0.2rem;
    background-color: aqua;
    border-radius: 0.8rem;
}

.profileData {
    display: flex;
}

.user {
    text-align: start;
    margin-top: 1rem;
}

.userName {
    font-size: 2rem;
}

.userDescription {
    font-size: 1.25rem;
}