#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('./assets/hero-image-github-profile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #20293A;
}

#container {
  width: 990px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}