#root {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  color: #CDD5E0;
  padding: 0 4rem;
  background-image: url('./assets/hero-image-github-profile.png');
  background-repeat: no-repeat;
  background-size: auto 25%;
  background-position: top;
  background-color: #20293A;
}

#container {
  width: auto;
  max-width: 1152px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem
}